@import "assets/scss/variable";
//define-colors
:root {
  --primary: #6993FF;
  --dark-primary: #1d5cff;
  --light: #F3F6F9;
  --muted: #B5B5C3;
  --grey: #7E8299;
  --dark-grey: #3F4254;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

.clearfix:before,
.clearfix:after {
  width: 100%;
  display: table;
  content: '';
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  position: relative;
  font-family: 'Poppins', serif;
  font-size: 13px;
  line-height: 1.2;
  color: var(--dark-grey);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  all: unset;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

body, html {
  height: 100%;
  color: var(--dark-grey);
}

.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.bor-bot + .bor-bot {
  border-top: 1px solid black;
}

.icons {
  padding: 8px;
  line-height: normal !important;

}
::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.icons:active {
  border-radius: 10px;
  background: none;
}

@import "assets/scss/style.bundle.css";
